
.center {
  width: 400px;
  margin: 50px auto;
  padding: 30px;
  background: #fff;
  border: 2px solid #E3E3E3;
  border-radius: 20px;
  font-family: 'Sansita Swashed', sans-serif;
}

.center h1 {
  font-size: 1.5em;
  border-left: 5px solid dodgerblue;
  padding: 5px 10px;
  color: #000;
  letter-spacing: 2px;
  margin-bottom: 30px;
  font-weight: bold;
}

.center .inputbox {
  margin-bottom: 30px;
}

.center .inputbox input {
  width: 100%;
  border: 1px solid #E3E3E3;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
}

.center .inputbox span {
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 1em;
  color: dodgerblue;
  transition: 0.3s;
}

.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateY(-20px);
  font-size: 0.8em;
  color: #000;
}

.center .inputbox [type="submit"] {
  width: 100%;
  background: dodgerblue;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.center .inputbox [type="submit"]:hover {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}