.container-fluid{
    padding: 2rem;

}
.hht{
    font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 5px 10px;
  color: #000;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-left: 14em;
  textAlign: center;
  marginTop: 20px;
  
}